  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Add a Trail</h1>
        <form class="form-horizontal" id="addTrail">
          <div class="form-group">
            <label for="trailTitle" class="col-sm-2 control-label">Trail Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="trailTitle" placeholder="Trail Title" title="trailTitle" required>
            </div>
          </div>                           
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Step Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="Title" title="title" required>
            </div>
          </div>
          <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Text</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" rows="3" id="text" placeholder="Text" title="text" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="url" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="url" placeholder="url" title="url" required>
            </div>
          </div> 
          <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tags" placeholder="Tags (separated by comma)" title="tags" required>
            </div>
          </div>                                               
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>        
<!--  Add Step -->
      </div>
      <div class="col-md-8">
            <form class="form-horizontal" id="addStep" style="display:none">                   
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Step Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="step-title" placeholder="Title" title="title" required>
                </div>
              </div>
              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" rows="3" id="step-text" placeholder="Text" title="text" required></textarea>
                </div>
              </div>
                <label for="tags" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="step-tags" placeholder="Tags (separated by comma)" title="tags" required>
                </div>
              </div> 
           
              </div>                                                
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" style="display:none" id="step-submit">Submit</button>
                </div>
              </div>
            </form>
            <div id="trail-holder">
            </div>
          </div>
      </div>
    </div>
  </div>


  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit a Step</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="editForm">
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-title" placeholder="title" title="title" required>
              </div>
            </div>
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">text</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-text" placeholder="text" title="text" required>
              </div>
            </div>
            <div class="form-group">
              <label for="tags" class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-tags" placeholder="Tags (separated by comma)" title="tags" required>
              </div>
            </div> 
            <div class="form-group hide">
              <label for="id" class="col-sm-2 control-label">ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-id" placeholder="id" title="edit-id" required>
              </div>
            </div>                                                            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>     
        </div>
      </div>
    </div>
  </div>